<!DOCTYPE html>
<html>
<head>
	<title>URPARTY</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="icon" type="image/ico" href="../assets/uplogorichtignice.ico"/>
	<link href="https://fonts.googleapis.com/css?family=Anton|Courgette|Dosis" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../assets/urparty-style0.0.1.css">
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script
	src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
	integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	crossorigin="anonymous"></script>
	<script src="../assets/info-toggle.js" charset="utf-8"></script>
</head>
<body>
	<div class="centering">
		<section class="s-mid">
			<img id="landing-logo" src="../assets/urpartylogo1.svg">
		</section>

		<section class="btn-mid">
			<a href="https://www.urparty.one/auth/login"><button id="login" class="btn-large">LOGIN</button></a>
			<a href="https://www.urparty.one/auth/signup"><button id="signup" class="btn-large">SIGNUP</button></a>
		</section>

		<section class="txt-mid">
			<h3>PLAN YOUR NEXT <br>BIG PARTY</h3>
		</section>
	</div>

	<footer>
		<button id="info-button">i</button>
		<!-- Pop up info text -->
	</footer>
	<div id="dialog-info">
		<h3>Welcome to urparty BETA.</h4>
		<br>
		<h4>Need help?</h3>
		<p>Write an email to: support@urparty.one</p>
		<br>
		<p>This website was made by:</p>
		<p>Philip Niebecker</p>
		<p>Jonas Wiegmann</p>
	</div>
</body>
</html>
