<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/ico" href="../../assets/uplogorichtignice.ico"/>
    <title>Join urparty</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Courgette|Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/profile-style01.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
    <script src="../../assets/info-toggle.js" charset="utf-8"></script>
</head>
<body>
  <div class="grid">
    <!-- Navbar  -->
    <div class="nav">
        <ul class="nav-grid">
          <li class="left-grid">
            <a href="/party/main">
              <img id="landing-logo-super-small" src="../../assets/urpartyfinal.svg" alt="">
            </a>
          </li>
          <li class="center-grid">
            <a href="/party/create">
              <button type="button" name="button" class="save-button left-nav-btn">Create Party</button>
            </a>
          </li>
          <li class="center-grid">
            <a href="/party/join">
              <button type="button" name="button" class="save-button right-nav-btn">Join Party</button>
            </a>
          </li>
          <li class="right-grid">
            <a href="/profile">
              <% if(user.profileImg == undefined || user.profileImg == ""){ %>
                <i class="fas fa-user-circle"></i>
              <% } else{ %>
                <img class="nav-profileImg" src="<%= user.profileImg %>" alt="Profile Image">
              <% } %>
            </a>
          </li>
        </ul>
    </div>

    <div class="main centerGrid">
      <div class="circle circle-middle">
        <img src="../../assets/specials.svg" alt="Partyhat" id="partyhat">
      </div>
      <div class="joinCard">
          <h2>Join a party!</h2>
          <form class="form-mid-join" action="/party/join" method="post">
            <h4>Party Code:</h4>
            <input type="text" name="partyId" class="frm-ipt" value="<%= info %>">
            <h4>Party Password:</h4>
            <input type="text" name="partyPw" class="frm-ipt" value="">
            <br>
            <button type="submit" class="join-button" name="button">Join</button>
          </form>
      </div>
    </div>

    <div class="foot">
      <footer>
        <button id="info-button" class="more-left">i</button>
      </footer>
    </div>
    <div id="dialog-info">
  		<h3>Welcome to urparty BETA.</h4>
  		<br>
  		<h4>Need help?</h3>
  		<p>Write an email to: support@urparty.one</p>
  		<br>
  		<p>This website was made by:</p>
  		<p>Philip Niebecker</p>
  		<p>Jonas Wiegmann</p>
  	</div>
</body>
