*{
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background: #1e1e1e;
  font-family: 'Dosis', sans-serif;
  color: white;
}

ul > li{
  list-style: none;
}

button:active{
  transform: scale(0.9,0.9);
  outline: none;
}

button:focus{
  outline: none;
}

input:focus{
  outline: none;
}

.grid{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr 60px;
  grid-template-areas:  "navbar navbar navbar"
                        "main main main"
                        "foot foot foot"
}

.nav{
  grid-area: navbar;
}

.nav-grid{
  display: grid;
  grid-template-columns: 130px auto 130px;
  grid-template-areas: "nLeft nMid nRight";
}

.main{
  grid-area: main;
}

.foot{
  grid-area: foot;
}

.save-button{
	height: 30px;
	width: 100px;
	border-radius: 3px;
	margin-right: 20px;
	background-color: transparent;
	float: right;
	color: white;
	margin: 10px;
	border: 1px solid white;
}

.left-nav-btn{
	margin-top: 25px;
	background: #cc2c91;
	border: none;
}

.left-nav-btn:hover{
	background: #e530a2;
	cursor: pointer;
}

.right-nav-btn{
	margin-top: 25px;
	background: #17a398;
	border: none;
  margin-left: 130px;
}

.right-nav-btn:hover{
	background: #19c1b4;
	cursor: pointer;
}

.logout-nav-btn{
	margin-top: 25px;
	background: #d34747;
	border: none;
}

.logout-nav-btn:hover{
	background: #f94d4d;
	cursor: pointer;
}

.left-grid{
  grid-area: nLeft;
}

.center-grid{
  grid-area: nMid;
  justify-self: left;
}

.right-grid{
  grid-area: nRight;
  margin-right: 30px;
  justify-self: end;
}

.profileCard{
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(135deg, rgba(191,38,38,1) 0%,rgba(5,107,191,1) 100%);
  border-radius: 5px;
  border-top-right-radius: 30px;
  padding: 10px;
  letter-spacing: 1.3px;
  box-shadow: 3px 3px 5px 0px #6969697a
}

.form-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: repeat(8, 1fr); */
  grid-template-areas: "leftForm rightForm";
  margin-bottom: 10px;
}

.profileCard > h4{
  grid-area: leftForm;
  padding: 10px 0;
}

.profileCard > input{
  grid-area: rightForm;
}

.form-h4{
  padding: 10px 0;
}

.frm-ipt{
	height: 35px;
	padding-left: 6px;
	background: transparent;
	margin: 5px 5px;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid lightgrey;
	margin-left: 7px;
	color: lightgrey;
}

.save-change{
  border: none;
  background: #1bad2a;
  width: 130px;
  margin: 30px 0 0 0;
  box-shadow: 3px 3px 5px 0px #00000061;
}

.save-change:hover{
  cursor: pointer;
  background: #1dc12d;
}

.delete-btn{
  border: none;
  background: #960d0d;
  width: 130px;
  margin: 30px 0 0 0;
  box-shadow: 3px 3px 5px 0px #00000061;
}

.delete-btn:hover{
  cursor: pointer;
  background: #c11111;
}

.nav-profileImg{
	margin-top: 20px;
	border-radius: 25px;
}

.fa-user-circle{
  margin-top: 20px;
  font-size: 40px;
  color: #8a8a8a;
}

.circle{
  width: 100px;
  height: 100px;
}

.circle-middle{
  margin: 0 auto -50px auto;
}

.centerGrid{
  justify-self: center;
  margin-top: 60px;
}

.joinCard{
  width:350px;
  border-radius: 5px;
  background: linear-gradient(135deg, rgba(255,50,50,1) 0%,rgba(92,106,170,1) 100%);
  padding: 60px 10px;
  text-align: center;
  box-shadow: 3px 3px 5px 0px #6969697a;
}

.form-mid-join > h4 {
  padding: 10px 0;
  letter-spacing: 0.9px;
}

.form-mid-join > input{
  font-size: 20px;
}

.join-button{
  margin-top: 30px;
  height: 40px;
  width: 130px;
  border-radius: 5px;
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  background: #888888;
  box-shadow: 2px 2px 5px 0px #00000075;
}

.join-button:hover{
  background: #969595;
}

#landing-logo-super-small{
	height: 80px;
	margin-top: 5px;
	margin-left: 15px;
}

#info-button{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	font-size: 20px;
	font-family: 'Courgette', cursive;
	font-weight: 700;
	float: right;
	color: rgb(255,255,255);
	background: rgb(133,133,132);
	margin-right: 40px;
}

#info-button:hover{
	background: #939393;
	cursor: pointer;
}

#info-button:active{
	transform: scale(0.9,0.9);
}

#partyhat{
  width: 100px;
  margin: 5px 10px;
}

@-webkit-keyframes rainbow {
  0% {border-bottom-color: hsl(0, 100%, 50%);
      border-right-color: hsl(0, 100%, 50%);}
  100% {border-bottom-color: hsl(112, 100%, 51%);
        border-right-color: hsl(112, 100%, 51%);}
  /* 100% {border-bottom-color: hsl(255, 100%, 50%);} */
}

@media (max-width: 500px){
  .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px auto 60px;
    grid-template-areas: "navbar"
                         "navbar"
                         "main"
                         "foot"
  }

  .nav-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nLeft nRight"
                             "nMid nMid";
        justify-self: center;
  }

  .center-grid{
    margin: 0 auto;
  }

  .left-nav-btn{
    margin-left: -130px;
  }

  .profileCard{
    margin-bottom: 10px;
  }

  .frm-ipt{
    width: 150px;
  }

  .delete-btn{
    justify-self: end;
    margin-right: 5px;
  }
  .centerGrid{
    margin-top: -30px;
  }

  .joinCard{
    width: 250px;
    margin-bottom: 20px;
  }


}
